<div id="sm-screen-wp" class="elfsight-app-7088dbf9-1547-40f7-a3d7-79e04e895b56"></div>
<div id="contacto" class="container pt-4">
    <div class="row bg-white mt-5">
        <div class="col-lg mt-2">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content border-0">
                    <h5 class="modal-title p-0">Contacto</h5>
                    <hr>
                    <div class="modal-body">
                        <form action="https://formspree.io/f/mjvjaayn" method="POST">
                            <div class="mb-3 mt-2">
                                <label for="name" class="form-label">Nombre *</label>
                                <input type="text" name="name" value="" class="form-control" placeholder="Ingresar nombre completo..."/>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email *</label>
                                <input type="email" name="_replyto" class="form-control" placeholder="Ingresar Email..."/>
                            </div>
                            <div class="mb-3">
                                <label for="message" class="form-label">Mensaje *</label>
                                <textarea name="message" rows="8" cols="40" class="form-control" placeholder="Ingresar mensaje..."></textarea>
                            </div>
                            <div class="modal-footer justify-content-center">
                                <button type="submit" class="btn">
                                    Enviar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="info" class="col-lg-6">
            <h5>Información</h5>
            <hr>
            <p>DGS Cartelería <br> Por cualquier consulta complete el formulario o póngase en contacto. <br> Teléfono:+598 91 003 750
                <br> Email: info@dgscarteleria.com.uy <br> Horario de atención: Lunes a Viernes de 10 a 18 horas
            </p>
            <div class="mapouter map">
                <div class="gmap_canvas">
                    <iframe
                        width="580"
                        height="460"
                        id="gmap_canvas"
                        src="https://maps.google.com/maps?q=maldonado,%20Agustin%20Velazquez,%20esquina%20elias%20chiossi&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        frameborder="0"
                        scrolling="no"
                        marginheight="0"
                        marginwidth="0"></iframe>
                    <a href="https://soap2day-to.com"></a><br>
                    <a href="https://www.embedgooglemap.net"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- termina contacto -->
    <div id="footer" class="row">
        <div class="col">
            <footer>
                <i class="far fa-copyright"></i>
                DGS Cartelería. Todos los derechos reservados
            </footer>
        </div>
        <div class="col">
            Diseño y programación
            <a href="mailto:gianfrancotrancillo@gmail.com">Gianfranco Trancillo</a>
        </div>
    </div>
    <div id="contacto-modal" class="modal fade" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Contacto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="https://formspree.io/f/mjvjaayn" method="POST">
                        <div class="mb-3 mt-2">
                            <label for="name" class="form-label">Nombre *</label>
                            <input type="text" name="name" value="" class="form-control" placeholder="Ingresar nombre completo..."/>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email *</label>
                            <input type="email" name="_replyto" class="form-control" placeholder="Ingresar Email..."/>
                        </div>
                        <div class="mb-3">
                            <label for="message" class="form-label">Mensaje *</label>
                            <textarea name="message" rows="8" cols="40" class="form-control" placeholder="Ingresar mensaje..."></textarea>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="submit" class="btn">
                                Enviar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>