<nav class="navbar navbar-expand-lg navbar-dark bg-none p-0 nav-height position-sticky top-0">
    <div id="main-nav" class="container-fluid">
        <button
            class="navbar-toggler ps-2"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a id="logo" class="navbar-brand col-md-2 border-nav m-0" href="./">
            <img id="logo-img" src="./img/logo.png" alt="logo">
        </a>
        <div
            id="navbarNavDropdown"
            class="collapse navbar-collapse col-md justify-content-center border-nav nav-height nav-dropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="./#hr">Nosotros</a>
                </li>
                <li id="bg-screen-trabajos" class="nav-item dropdown">
                    <a class="nav-link" href="./trabajos">
                        Trabajos
                    </a>
                    <ul id="dropdown-servicios" class="dropdown-menu mt-0 border-0">
                        <li>
                            <a class="dropdown-item" href="./vidrierasComerciales">Vidrieras Comerciales</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="./estampados">Estampados</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="./lonas">Lonas</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="./luminosos">Luminosos</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="./marquesinas">Marquesinas</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="./microperforados">Microperforados</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="./troquelados">Troquelados</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="./esmerilados">Esmerilados</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="./corporeos">Corporeos</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="./otros">Otros</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown sm-screen-trabajos">
                    <a class="nav-link" href="#">
                        Trabajos
                    </a>
                    <ul class="dropdown-menu mt-0 border-0">
                        <li>
                            <a class="dropdown-item" href="./trabajos/vidrierasComerciales">Vidrieras Comerciales</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="./trabajos/estampados">Estampados</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="./trabajos/lonas">Lonas</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="./trabajos/luminosos">Luminosos</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="./trabajos/marquesinas">Marquesinas</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="./trabajos/microperforados">Microperforados</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="./trabajos/troquelados">Troquelados</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="./trabajos/esmerilados">Esmerilados</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="./trabajos/corporeos">Corporeos</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="./trabajos/otros">Otros</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="./trabajos">Ver Todos</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./#href-clientes">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#contacto-modal">Contacto</a>
                </li>
            </ul>
        </div>
        <div class="col-md-2 text-end fb-inst border-nav nav-height pt-4">
            <a href="https://www.instagram.com/dgscarteleria_vinilos/" target="_blank">
                <i class="fab fa-instagram fs-3 text-white pe-1"></i>
            </a>
            <a href="https://www.facebook.com/dgscarteleria/" target="_blank">
                <i class="fab fa-facebook-square fs-3 text-white"></i>
            </a>
        </div>
    </div>
</nav>