{% extends "master.njk" %}
{% block main %}
  <h2 class="text-white titulo">Esmerilados</h2>
  <div class="container-gallery">
    <div class="box-gallery">
      <img src="../img/esmerilados/esmerilados1.jpg">
    </div>
    <div class="box-gallery">
      <img src="../img/esmerilados/esmerilado2.jpg">
    </div>
    <div class="box-gallery">
      <img src="../img/esmerilados/esmerilado ppal.PNG">
    </div>
    <div class="box-gallery">
      <img src="../img/esmerilados/IMG_1050.jpg">
    </div>
  </div>
  <div>
    <a href="./trabajos" class="btn">Ver otros trabajos</a>
  </div>
{% endblock %}}