{% extends "master.njk" %}
{% block main %}
  <h2 class="text-white titulo">Imantados</h2>
  <div class="container-gallery">
    <div class="box-gallery">
      <img src="../img/imantados/imantados.jpg">
    </div>
    <div class="box-gallery">
      <img src="../img/imantados/ppal.jpg">
    </div>
  </div>
  <div>
    <a href="./trabajos" class="btn">Ver otros trabajos</a>
  </div>
  
{% endblock %}}