{% extends "master.njk" %}
{% block main %}
  <h2 class="text-white titulo">Luminosos</h2>
  <div class="container-gallery">
    <div class="box-gallery">
      <img src="../img/luminosos/ppal.jpg">
    </div>
    <div class="box-gallery">
      <img src="../img/luminosos/luminosos2.PNG">
    </div>
    <div class="box-gallery">
      <img src="../img/luminosos/IMG_2639.JPG">
    </div>
    <div class="box-gallery">
      <img src="../img/luminosos/luminosos3.PNG">
    </div>
    <div class="box-gallery">
      <img src="../img/luminosos/IMG_1551.jpg">
    </div>
    <div class="box-gallery">
      <img src="../img/luminosos/6194e196-1a5e-434b-8f67-01fef392cf3f.JPG">
    </div>
  </div>
  <div>
    <a href="./trabajos" class="btn">Ver otros trabajos</a>
  </div>
{% endblock %}}