{% extends "master.njk" %}
{% block main %}
  <h2 class="text-white titulo">Marquesinas</h2>
  <div class="container-gallery">
    <div class="box-gallery">
      <img src="../img/marquesinas/1211F51E-1F2D-45A4-8BCC-97C248A8A36F.JPG">
    </div>
    <div class="box-gallery">
      <img src="../img/marquesinas/7aa54ae2-b7e0-4143-933d-0960fe6955df.jpg">
    </div>
    <div class="box-gallery">
      <img src="../img/marquesinas/marquesinas.PNG">
    </div>
    <div class="box-gallery">
      <img src="../img/marquesinas/IMG_0205.jpg">
    </div>
    <div class="box-gallery">
      <img src="../img/marquesinas/IMG_2638.JPG">
    </div>
    <div class="box-gallery">
      <img src="../img/marquesinas/IMG_2868.jpg">
    </div>
    <div class="box-gallery">
      <img src="../img/marquesinas/IMG_9279.JPG">
    </div>
  </div>
  <div>
    <a href="./trabajos" class="btn">Ver otros trabajos</a>
  </div>
{% endblock %}}