{% extends "master.njk" %}
{% block main %}
  <h2 class="text-white titulo">Otros</h2>
  <div class="container-gallery">
    <div class="box-gallery">
      <img src="../img/otros/IMG_8813.jpg">
    </div>
    <div class="box-gallery">
      <img src="../img/otros/IMG_7326.jpg">
    </div>
    <div class="box-gallery">
      <img src="../img/otros/IMG_2036.jpg">
    </div>
    <div class="box-gallery">
      <img src="../img/otros/IMG_1674.jpg">
    </div>
    <div class="box-gallery">
      <img src="../img/otros/IMG_1289.JPG">
    </div>
    <div class="box-gallery">
      <img src="../img/otros/IMG_0775.jpg">
    </div>
    <div class="box-gallery">
      <img src="../img/otros/b4d05bee-1d56-4aa1-a39d-7d8f82e8176d.JPG">
    </div>
    <div class="box-gallery">
      <img src="../img/otros/587a3471-9079-456b-bf5a-49e59b0b178c.JPG">
    </div>
    <div class="box-gallery">
      <img src="../img/otros/ppal.jpg">
    </div>
  </div>
  <div>
    <a href="./trabajos" class="btn">Ver otros trabajos</a>
  </div>
{% endblock %}}