{% extends "master.njk" %}
{% block main %}

<h2 class="mb-3 text-white">Nuestros Trabajos</h2>
    <div class="page-content">
      <div class="card">
        <div class="content" data-aos="fade-right" data-aos-duration="2500">
          <h2 class="tittle">Luminosos</h2>
          <a href="./trabajos/luminosos" class="btn">Ver más</a>
        </div>
      </div>
      <div class="card">
        <div class="content" data-aos="fade-up" data-aos-duration="2500">
          <h2 class="tittle">Estampados</h2>
          <a href="./trabajos/estampados" class="btn">Ver más</a>
        </div>
      </div>
      <div class="card">
        <div class="content" data-aos="fade-left" data-aos-duration="2500">
          <h2 class="tittle">Vehícular</h2>
          <a href="./trabajos/vehicular" class="btn">Ver más</a>
        </div>
      </div>
      <div class="card">
        <div class="content" data-aos="fade-right" data-aos-duration="2500">
          <h2 class="tittle">Marquesinas</h2>
          <a href="./trabajos/marquesinas" class="btn">Ver más</a>
        </div>
      </div>
      <div class="card">
        <div class="content" data-aos="fade-up" data-aos-duration="2500">
          <h2 class="tittle">Lonas</h2>
          <a href="./trabajos/lonas" class="btn">Ver más</a>
        </div>
      </div>
      <div class="card">
        <div class="content" data-aos="fade-left" data-aos-duration="2500">
          <h2 class="tittle">Vidrieras Comerciales</h2>
          <a href="./trabajos/vidrierasComerciales" class="btn">Ver más</a>
        </div>
      </div>

      <div class="card">
        <div class="content" data-aos="fade-right" data-aos-duration="2500">
          <h2 class="tittle">Esmerilados</h2>
          <a href="./trabajos/esmerilados" class="btn">Ver más</a>
        </div>
      </div>

      <div class="card">
        <div class="content" data-aos="fade-up" data-aos-duration="2500">
          <h2 class="tittle">Troquelados</h2>
          <a href="./trabajos/troquelados" class="btn">Ver más</a>
        </div>
      </div>

      <div class="card">
        <div class="content" data-aos="fade-left" data-aos-duration="2500">
          <h2 class="tittle">Microperforados</h2>
          <a href="./trabajos/microperforados" class="btn">Ver más</a>
        </div>
      </div>

      <div class="card">
        <div class="content" data-aos="fade-right" data-aos-duration="2500">
          <h2 class="tittle">Corporeos</h2>
          <a href="./trabajos/corporeos" class="btn">Ver más</a>
        </div>
      </div>

      <div class="card">
        <div class="content" data-aos="fade-up" data-aos-duration="2500">
          <h2 class="tittle">Imantados</h2>
          <a href="./trabajos/imantados" class="btn">Ver más</a>
        </div>
      </div>

      <div class="card">
        <div class="content" data-aos="fade-up" data-aos-duration="2500">
          <h2 class="tittle">Otros</h2>
          <a href="./trabajos/otros" class="btn">Ver más</a>
        </div>
      </div>
    </div>
{% endblock %}